[submodule "Redacted/JSONKit"]
	path = Redacted/JSONKit
	url = https://github.com/johnezang/JSONKit
[submodule "CocoaHTTPServer"]
	path = CocoaHTTPServer
	url = https://github.com/robbiehanson/CocoaHTTPServer
[submodule "TITokenField"]
	path = TITokenField
	url = https://github.com/thermogl/TITokenField
